.login-container .login-box .login-logo {
  background: url("/assets/img/logo.png") top center no-repeat;
  width: 100%;
  background-size: contain;
  height: 50px;
  object-fit: contain;
  float: left;
  margin-bottom: 10px;
}
