<header>
  <div class="wraper">
﻿  <h2>Instagram</h2>
  </div>
﻿</header>
<div class="wraper">
<img class="autlogo" src="../assets/img/logo.png" alt="">
<div id="login">
  <div class="flip">
<div class="form-signup">
  <h1>Регистрация</h1>
  <fieldset>
  <p class="login-msg"><alert></alert></p>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'login-err': f.submitted && !Name.valid }">
        <input type="text" class="form-control" name="Name" [(ngModel)]="model.name" #Name="ngModel" placeholder="Имя пользователя" required />
        <div *ngIf="f.submitted && !Name.valid" class="help-block">Name is required</div>
     </div>
     <div class="form-group" [ngClass]="{ 'login-err': (f.submitted && !nickName.valid) || !checkNick || (checkLen && checkNick) }">
        <input type="text" class="form-control" name="nickName" [(ngModel)]="model.nick_name" (ngModelChange)="onNickNameChange()" #nickName="ngModel" placeholder="Ваш Логин" required />
        <div *ngIf="f.submitted && !nickName.valid" class="help-block">Nick Name is required</div>
        <div *ngIf="checkLen && checkNick" class="help-block">Nick name must have a minimum of 4 characters, and a maximum of 30 characters</div>
        <div *ngIf="!checkNick" class="help-block">Nick name "{{model.nick_name}}" is already taken</div>
      </div>
      <div class="form-group" [ngClass]="{ 'login-err': f.submitted && !email.valid || !checkEmail && !checkLenEm }">
        <input type="email" autocomplete='email' placeholder="Ваш e-mail адрес..." class="form-control" name="email" [(ngModel)]="model.email"  #email="ngModel" required email (change)="onEmailCheck()" />
        <div *ngIf="f.submitted && !email.valid || !checkEmail && !checkLenEm" class="help-block">Email is required or already taken</div>
     </div>
      <div class="form-group" [ngClass]="{ 'login-err': f.submitted && !password.valid }">
        <input type="password" class="form-control" name="password" [(ngModel)]="model.pwd" #password="ngModel" placeholder="Ваш сложный пароль..." required />
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="lgbt">Зарегистрироваться</button>
      </div>
    </form>
    <p>Войти через: <span class="social fb">Facebook</span> <span class="social gp">Google +</span></p>
    <a [routerLink]="['/login']" class="flipper">Уже зарегистрированы? Войти.</a>
  </fieldset>
</div>
</div>
</div>
</div>
<footer>
  <div class="wraper">
  <p>Contact information: <a href="https://github.com/Everett-Young/Instagram" target="_top">
  About</a>.</p>
    </div>
</footer>
