<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Name.valid }">
            <label for="Name">Name</label>
            <input type="text" class="form-control" name="Name" [(ngModel)]="model.name" #Name="ngModel" required />
            <div *ngIf="f.submitted && !Name.valid" class="help-block">Name is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': (f.submitted && !nickName.valid) || !checkNick || (checkLen && checkNick) }">
            <label for="nickName">Nick Name</label>
            <input type="text" class="form-control" name="nickName" [(ngModel)]="model.nick_name" (ngModelChange)="onNickNameChange()" #nickName="ngModel" required />
            <div *ngIf="f.submitted && !nickName.valid" class="help-block">Nick Name is required</div>
            <div *ngIf="checkLen && checkNick" class="help-block">Nick name must have a minimum of 4 characters, and a maximum of 30 characters</div>
            <div *ngIf="!checkNick" class="help-block">Nick name "{{model.nick_name}}" is already taken</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid || !checkEmail && !checkLenEm }">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="model.email"  #email="ngModel" required email (change)="onEmailCheck()" />
            <div *ngIf="f.submitted && !email.valid || !checkEmail && !checkLenEm" class="help-block">Email is required or already taken</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.pwd" #password="ngModel" required  />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>

        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
